<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Oeuvres d'art - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

    {% block stylesheets %} {% endblock %}
</head>
<body>
<div>
    <header >
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
                </a>
            </div>
            <div class="col-4 text-center">
                <p style="color:black;font-family:Verdana;font-size:32px" >
                    <b>Oeuvres d'art</b> <br>
                    <br>

                </p>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <ul style="list-style: none;">
                    {% if is_granted('ROLE_USER') %}
                        <li style="margin-bottom: 3px;">
                            <a href="{{ path('panier') }}" class="btn btn-sm btn-primary btn-block">Mon panier</a>
                        </li>
                        <li style="margin-bottom: 3px;">
                            <a href="{{ path('mes_commandes') }}" class="btn btn-sm btn-warning btn-block">Mes commandes</a>
                        </li>
                        <li style="margin-bottom: 3px;">
                            <a href="{{ path('logout') }}" class="btn btn-sm btn-danger btn-block">Se déconnecter</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin_index') }}" class="btn btn-sm btn-primary" style="width:114px;">Espace Admin</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ path('login') }}" class="btn btn-sm btn-info">Se connecter</a></li>
                        <li><a href="{{ path('inscription') }}">S'inscrire</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 font-weight-bold">
        <nav class="nav d-flex justify-content-between bg-warning">
            <a class="p-2  text-dark" href="{{ path('home') }}">ACCUEIL</a>
            <a class="p-2  text-dark" href="{{ path('catalogue') }}">CATALOGUE DES OEUVRES</a>
            <a class="p-2  text-dark" href="{{ path('send_form')}}
">NOUS CONTACTER</a>
        </nav>
        <hr>
    </div>
</div>
<main role="main" class="container">
    {% block body %}{% endblock %}
</main>
<footer class="footer-area bg-warning">
    <div class="footer-big">
        <!-- start .container -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="footer-widget">
                        <ul class="contact-details">
                            <li>
                                <span class="icon-earphones"></span> Appelez Nous:
                                <a href="tel:344-755-111">+33 612345678</a>
                            </li>
                            <li>
                                <span class="icon-envelope-open"></span>
                                <a href="mailto:support@aazztech.com">admin@art.com</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- end /.col-md-4 -->
            <div class="col-md-3 col-sm-4">
            </div>
            <!-- end /.footer-menu -->
        </div>
        <!-- Ends: .footer-widget -->
    </div>
    <!-- Ends: .col-lg-3 -->

    </div>
    <!-- end /.row -->
    </div>
    <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->

    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>© 2021
                            <a href="#">DigiPro</a>.Oeuvre d'Art
                            <a href="#">AazzTech</a>
                        </p>
                    </div>

                    <div class="go_top">
                        <span class="icon-arrow-up"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://kit.fontawesome.com/9e7c94804d.js" crossorigin="anonymous"></script>

{% block javascripts %} {% endblock %}
</body>
</html>
